*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/images/Fade-In-Background.svg);
    font-size: 18px;
    height: 80vh;

}

.main-container{
    width: 800px;
    margin: 70px auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 20px white;
}

.sections-container{
    display: flex;
    gap: 10px;
}

.section-1{
    height: 500px;
    width: 425px;
    background-image: url(/images/rocket-bg.png);
    background-size: contain;
    background-size: 425px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.section1-text{
text-align: center;
margin: 320px 90px;
color: white;
}

.section2-content{
    height: 500px;
    margin: 0 auto;
    color: #4b336a;
}

h2,
.task,
.sign-up{
    text-align: center;
    padding: 8px;
}

h2{ 
    padding-top: 20px;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.task-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(180, 177, 177);
    border: 2px solid #4d2c77;  
} 


form{
    display: flex;
    flex-direction: column;   
}

input{
    width: 97%;
    margin: 2%;
    padding: 2%;
    border-radius: 30px;
}
input::placeholder{
    color: #4d2c77;
}

button{
    margin: 2%;
    border-radius: 30px;
    background-color: #4d2c77;
}

button:hover{
    opacity: 0.8;
  
}

input,
button{
    height: 40px;
    border: 2px solid #4d2c77;
}

a{
    color: white;
    text-decoration: none;
}

.sign-up{
    padding-top: 30px;
    color:#4d2c77
}

.sign-up a{ 
    color: #4b336a;
    font-weight: bold;  
}

.sign-up a:hover{
    opacity: 0.8;
}

@media screen and (max-width:800px){
    .main-container{
        width: 400px;
    }

    .section-1{
    display: none;  
    }
    .section-2{
        background-image: url(/images/Mobile-rocket.png);
        background-size: contain;
        background-size: 435px;
        background-repeat: no-repeat;
        border-radius: 30px;
    }
    .sections-container{
        display: block;
    }
    .section2-content{  
        color: white;
    }

    h2, .task{
        color:#fdfcfd;
        font-weight: bolder;
    }

    input,
    button{
        width: 90%;
        align-self: center;
    }

    button{
        background-color: #1f214b;
    }
    button:hover{
        border: 1px solid #fdfcfd;
    }
    
    .sign-up {
        color: #fdfcfd;
    }
    .sign-up a{
        color: #fdfcfd;
    }

}


